.image{
    height: 315px;
    width: 215px;
    background-color: rgb(59, 56, 56);
    display: inline-block;
    margin: 12px;
}
.innertext{
    color: white;
    font-weight: bold;
    text-align: center;
    font-size: 150%;
    padding-top: 50%;
}
.container{
    text-align: center;
    vertical-align: middle;
    position:absolute;
    top:35%;
  
}
.paragraph{
    padding: 12px;
    text-align: center;
    padding-left: 330px;
    padding-right: 300px;
    font-size: 120%;
    font-weight: bold;
}
imgtext{
    text-align: center;
   
    
}
.imgcaption{
    color: rgb(5, 63, 5);
    height: 30px;
    width: 215px;
    background-color: rgb(230, 221, 221);
    margin-top: 127px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}
.horizontalline{
    margin-left: 300px;
    margin-right: 300px;
    text-align: center;
    
  
  }